<nav class="navbar navbar-dark bg-light justify-content-md-end fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand text-dark' do %>
      <h1 class="mx-5"><b>KODA-SM</b></h1>
    <% end %>
    <ul class="nav ms-auto">
      <li class="nav-item text-dark mt-2">
        <b><%= current_user.email %></b>
      </li>
      <li class="nav-item">
        <b><%= link_to "Sign out", destroy_user_session_path, class: "nav-link text-dark", :method => :delete %></b>
      </li>
    </ul>
  </div>
</nav>